{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="content">
        <h1>SEE ECONOMIC DATA</h1>
        <p>Inspired by the Federal Reserve Economic Data website, our site uses data from Census.gov to visualize data and analyze trends more easily.
        <br>Choose a query to answer your questions on selected economic characteristics in the U.S.!</p>
        <div>
            <a href="/query">
                <button type="button"><span></span>GO EXPLORE</button>
            </a>
        </div>
    </div>
{% endblock %}