{% extends "layout.html" %}

{% block title %}
    Submit Query
{% endblock %}

{% block main %}
    <form action="/query" method="post">
        <div class="content">
            <h1>VISUALISE</h1>
            <p>Select a query below to answer your questions about selected economic characteristics in the U.S.!</p>
            <div class="mb-3">
                <select name="queries" id="query-select" class="decorated">
                    <option value="">Please choose an option</option>
                    {% for query in queries %}
                    <option value="{{query}}">{{query}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit"><span></span>Show Graph</button>
        </div>
    </form>

{% endblock %}